backend/dataset/Plant_Disease_Dataset/trained_plant_disease_model.keras filter=lfs diff=lfs merge=lfs -text
backend/dataset/Plant_Disease_Dataset/model_output/trained_plant_disease_model.keras filter=lfs diff=lfs merge=lfs -text
